@import 'variables.scss';

@keyframes star{
    from{
        transform: rotate(0deg);
        font-size: 0px;
    }

    to{
        transform: rotate(360deg);
        font-size: 22px; 
    }
}


.star-shine-js{
	color: $star-color !important;
	animation: star 500ms;
	animation-fill-mode: forwards;
}

.show-search-js{
    display: none !important;
}
