@import 'variables.scss';

.moviesSection{
	width: 100%;
	margin: 0 auto; 
	.movie{
		min-width: 25%;
		max-width: 300px; 
		min-height: 400px;
		background: #212121; 
		margin: 1.5%; 
		flex: 1 1 300px; 
		border: $border; 
		background: $description-bg;
		border-radius: 3px;  
		.poster{
			height: 250px;
			width: 100%;
			background-size: cover;
			display: table;
			.shadow{
				width: 90%;
				height: 100%;
				display: table-cell;
  				vertical-align: middle;
				background: $shadow;
				font-size: $title-size; 
				color: $title-color;
				text-align: center;
				padding: 0 5%;
				overflow: hidden;  
			}  
		}
		.description{
			height: 90px;
			width: 90%;
			padding: 5%;
			overflow: hidden;
			word-break: break-all;
			word-wrap: break-word;
			text-overflow: elipsis;    
		}
		.social{
			display: flex;
			width: 100%;
			height: 26px;  
			justify-content: space-around; 
			align-items: center;
		}
	}
	.favorites, .nonFavorites{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%; 	
	}

}