@import 'variables.scss';

.searchSection{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	.search{
		width: 70%;
		margin: 0 auto; 
		display: flex;
		input{
			border: 0;
			padding: 9px;
			flex: 6 1 300px;
			&:focus{
				outline: none;
			}
			&::placeholder{ 
				color: $search-btn;
				text-indent: 5px;
				transition: text-indent 500ms cubic-bezier(.87,-.41,.19,1.441);
			}
			&:focus::placeholder{
				text-indent: -300px;
			}
		}
		.button{
			text-align: center;
			line-height: 33px; 
			flex: 1 1 100px;
			background: $search-btn;
			color: $search-btn-text; 
			cursor: pointer;
		}
	}   
}